@model Weidon.Models.DeityViewModel
@{
    ViewBag.Title = "List Deities";
}

@*<h2>@Model.Mythology</h2>*@

<p>@Html.ActionLink(Model.Mythology, "Infos", "Mythology", new { name = Model.Mythology }, new { @class = "btn btn-primary" })</p>

<p>@Html.ActionLink("List of myths", "Index", "ListMyths", new { IdMythology = Model.IdMythology }, new { @class = "dropdown-item" })</p>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Roles</th>
            <th scope="col">Alternative Names</th>
            <th scope="col">Equivalent Deities</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.ListIds.Count; i++)
        {
            <tr>
                <th scope="row">@Html.ActionLink(Model.ListNames[i], "Index", "Deity", new { name = Model.ListNames[i] }, new { @class = "deity-link" })</th>
                <td>@Model.ListRoles[i]</td>
                <td>@Model.ListAlternativeNames[i]</td>
                <td>
                @foreach (var equivalentDeity in Model.ListEquivalentDeities[i]) {
                    <div>@equivalentDeity.EquivalentDeityName</div>
                }
            </tr>
        }
    </tbody>
</table>
